{% extends "moviez/base.html" %}
{% block title %}All Movies{% endblock %}

{% block css %}

<style>
    body {
        background: #0F2027;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: 'Alata', sans-serif;
    }

    .heading {
        color: white;
    }
</style>

{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-center pt-3 heading">
        <h1>All Movies</h1>
    </div>
    <div class="row">
        {% for movie in movies %}
        <div class="col-sm-4 py-4">
            <div class="card text-center text-white bg-dark border-primary" style="width: 19rem">
                <a href="#"><img class="card-img-top" src="{{ movie.poster }}" alt="Can't Load The Image"
                        style="width:300px; height:400px"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <h5 class="card-text">{{ movie.price }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}